.detail-card {
  width: 307px;
  display: flex;
  flex-direction: column;
  min-height: 307px;
  font-size: 36px;
  justify-content: center;
  align-items: center;
  padding: 12px;

  &__title {
    font-weight: 400;
  }
}
