.monster-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__title {
    font-weight: 400;
    font-size: 24px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 139px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }

    &--selected {
      border: 1px solid #000000;
    }

    &__img {
      margin-bottom: 7px;
      border-radius: 7px;
    }
  }
}
